<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCpzi_ITlKybBPs43DYEkVwBS2qGosttx0</string>
	<key>GCM_SENDER_ID</key>
	<string>626229757944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.vakhtang.Currency.EcommerceApp</string>
	<key>PROJECT_ID</key>
	<string>ecommerceappswiftui</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerceappswiftui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626229757944:ios:5b0e97afeea6c221ac380d</string>
</dict>
</plist>